@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
   --cor-principal: #386D9E;
   --cor-secundaria: #221F52;
   --cor-destaque: #773027;
   --cor-terciaria: #2A261F;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-secundaria);
    font-weight: 400;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link{
    color: var(--cor-terciaria);
    font-weight: 700;
}

a {
    color: var(--cor-terciaria);
    
    
}

a:hover {
    color: var(--cor-destaque);
    
}
